@import "~materialize-css/dist/css/materialize.min.css";

.card-action {
  & > button:first-child {
    margin-right: 15px;
  }
}

.auth-input {
  margin-top: 8px!important;
}

.auth-input + label {
  color: #fff!important;
}

.nav-wrapper {
  padding: 0 2rem;
}

.row-create {
  margin-top: 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}